@charset "UTF-8";
html {
  font-family: "M PLUS 1p", sans-serif;
  background: #EEE;
}

body .phone {
  display: none;
}

@media screen and (max-width: 620px) {
  /* 480px以下に適用されるCSS（スマホ用） */
  body .phone {
    display: block;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: #EEE;
  }
  body .phone p {
    position: fixed;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    padding: 10px;
  }
}
body header {
  left: 0;
  width: 100%;
  height: 100%;
  top: -100%;
}
body header .home .ho-title {
  color: #333;
  font-weight: 100;
  font-size: 5em;
  text-align: center;
}
body header .home .ho-title a {
  text-decoration-line: none;
  color: #333;
}
body header .home .ear {
  width: 400;
  height: 400;
}
body header .home .ear .earth {
  position: relative;
  margin: 50px auto;
  overflow: hidden;
  width: 400px;
  height: 400px;
  background-color: #4f7eff;
  border-radius: 50%;
  box-shadow: -20px 0 3px rgba(0, 0, 0, 0.3) inset;
}
body header .home .earth:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
  background-repeat: repeat-x;
  background-image: url("../images/earth.svg");
  background-size: auto 100%;
  transform: rotate(23.4deg);
  animation: rotation 16s linear infinite;
}
@keyframes rotation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -278% 0;
  }
}
body header .home nav ul {
  height: 100px;
  position: absolute;
  top: 550px;
  left: 50%;
  margin: auto;
  margin-bottom: 0;
}
body header .home nav ul li {
  list-style: none;
  margin-top: 50px;
}
body header .home nav ul a {
  text-decoration-line: none;
  color: #333;
  font-size: 2em;
}
body header .home nav ul .hom {
  position: absolute;
  width: 100px;
  top: -150px;
  left: -260px;
  padding-bottom: 5px;
}
body header .home nav ul .hom::before {
  content: "";
  width: 100px;
  height: 3px;
  display: inline-block;
  background-color: #333;
  position: absolute;
  bottom: -3px;
  left: 0;
}
body header .home nav ul .hom::after {
  content: "";
  width: 80px;
  height: 3px;
  display: inline-block;
  background-color: #333;
  position: absolute;
  bottom: -31px;
  left: 88px;
  rotate: 45deg;
}
body header .home nav ul .hom .hom1 {
  position: relative;
  z-index: 1;
  cursor: pointer;
}
body header .home nav ul .hom .hom1 ::after {
  content: "";
  background-color: #06cd98;
  width: 0%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s;
}
body header .home nav ul .hom .hom1 :hover::after {
  width: 100%;
}
body header .home nav ul .hit {
  position: absolute;
  width: 100px;
  top: 100px;
  left: -290px;
  padding-bottom: 5px;
}
body header .home nav ul .hit::before {
  content: "";
  width: 100px;
  height: 3px;
  display: inline-block;
  background-color: #333;
  position: absolute;
  bottom: -3px;
  left: 0;
}
body header .home nav ul .hit::after {
  content: "";
  width: 80px;
  height: 3px;
  display: inline-block;
  background-color: #333;
  position: absolute;
  bottom: 25px;
  left: 88px;
  rotate: -45deg;
}
body header .home nav ul .hit .hit1 {
  position: relative;
  z-index: 1;
  cursor: pointer;
}
body header .home nav ul .hit .hit1 ::after {
  content: "";
  background-color: #06cd98;
  width: 0%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s;
}
body header .home nav ul .hit .hit1 :hover::after {
  width: 100%;
}
body header .home nav ul .mon {
  position: absolute;
  width: 100px;
  top: -180px;
  left: 150px;
  padding-bottom: 5px;
}
body header .home nav ul .mon::before {
  content: "";
  width: 66px;
  height: 3px;
  display: inline-block;
  background-color: #333;
  position: absolute;
  bottom: -3px;
  left: 0;
}
body header .home nav ul .mon::after {
  content: "";
  width: 80px;
  height: 3px;
  display: inline-block;
  background-color: #333;
  position: absolute;
  bottom: -31px;
  left: -68px;
  rotate: -45deg;
}
body header .home nav ul .mon .mon1 {
  position: relative;
  z-index: 1;
  cursor: pointer;
}
body header .home nav ul .mon .mon1 ::after {
  content: "";
  background-color: #06cd98;
  width: 0%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s;
}
body header .home nav ul .mon .mon1 :hover::after {
  width: 100%;
}
body header .home nav ul .tai {
  position: absolute;
  width: 100px;
  top: -70px;
  left: 210px;
  padding-bottom: 5px;
}
body header .home nav ul .tai::before {
  content: "";
  width: 66px;
  height: 3px;
  display: inline-block;
  background-color: #333;
  position: absolute;
  bottom: -3px;
  left: 0;
}
body header .home nav ul .tai::after {
  content: "";
  width: 80px;
  height: 3px;
  display: inline-block;
  background-color: #333;
  position: absolute;
  bottom: -31px;
  left: -68px;
  rotate: -45deg;
}
body header .home nav ul .tai .tai1 {
  position: relative;
  z-index: 1;
  cursor: pointer;
}
body header .home nav ul .tai .tai1 ::after {
  content: "";
  background-color: #06cd98;
  width: 0%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s;
}
body header .home nav ul .tai .tai1 :hover::after {
  width: 100%;
}
body header .home nav ul .sai {
  position: absolute;
  width: 100px;
  top: 150px;
  left: 180px;
  padding-bottom: 5px;
}
body header .home nav ul .sai::before {
  content: "";
  width: 100px;
  height: 3px;
  display: inline-block;
  background-color: #333;
  position: absolute;
  bottom: -3px;
  left: 0;
}
body header .home nav ul .sai::after {
  content: "";
  width: 80px;
  height: 3px;
  display: inline-block;
  background-color: #333;
  position: absolute;
  bottom: 25px;
  left: -68px;
  rotate: 45deg;
}
body header .home nav ul .sai .sai1 {
  position: relative;
  z-index: 1;
  cursor: pointer;
}
body header .home nav ul .sai .sai1 ::after {
  content: "";
  background-color: #06cd98;
  width: 0%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s;
}
body header .home nav ul .sai .sai1 :hover::after {
  width: 100%;
}
body header .logo img {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;
}
body header .tuna {
  color: #06cd98;
  width: 100%;
  height: 200px;
}
body main {
  background-color: #b5ffa4;
}
body main .btn,
body main label.btn,
body main button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}
body main ul li .conts {
  top: 0;
  left: 0;
}
body main ul li .content-image {
  position: sticky;
  top: 0;
  left: 0;
}
body main ul li .content-image .cont-image {
  opacity: 0.5;
}
body main ul li .content-image .cont-image img {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  -o-object-fit: cover;
     object-fit: cover;
  filter: contrast(0.8);
}
body main ul li .content {
  display: block;
  position: relative;
  top: -300px;
}
body main ul li .content h1 {
  box-shadow: 5px 5px 0 #dfdfdf;
  width: 70%;
  font-size: 5vw;
  font-weight: 100;
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 1rem 2rem;
  color: #fff;
  text-align: center;
}
body main ul li .content div {
  font-size: 1.5em;
  line-height: 1.5em;
  color: #000;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 100px;
  border-radius: 10px;
  overflow-wrap: break-word;
  background-color: #EEE;
  /*
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-right-color: rgba(255, 255, 255, 0.2);
  border-bottom-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 20px rgba(201, 201, 201, 0.5);
  @supports not ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
      .backdrop {
          background: rgba(100, 148, 185, .9);
      }
  }
  */
}
body main ul li .content div mark {
  font-style: normal;
  background: linear-gradient(transparent 60%, #fbff00 0%);
}
body main ul li .content div .ookami {
  display: flex;
  height: 100%;
}
body main ul li .content div img {
  width: 200px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
body main ul li .content div ul {
  list-style: none;
  margin-left: 0.3em;
}
body main ul li .content div ul li {
  position: relative;
  padding-left: 15px;
}
body main ul li .content div ul li:before {
  content: "";
  position: absolute;
  top: 0.6em;
  left: 0;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
}
body main ul li .content div span {
  display: inline-block;
  margin: 2em 0;
  font-weight: 800;
  font-size: 1.5em;
}
body main ul li .content div span:first-letter {
  font-size: 2em;
  font-weight: 200;
}
body main ul li .cont1 {
  background-color: #d85b5b;
  background-image: radial-gradient(#d85b5b 0.65px, #ecadad 0.65px);
  background-size: 13px 13px;
}
body main ul li .cont1 .content h1 {
  background: #dd7070;
}
body main ul li .cont1 .content ul li a {
  color: #a62727;
}
body main ul li .cont1 .content ul li:before {
  background-color: #d85b5b;
}
body main ul li .cont1 .content span {
  background: linear-gradient(transparent 70%, #ecadad 70%);
  color: #a62727;
}
body main ul li .cont2 {
  background-color: #2c63c3;
  background-image: radial-gradient(#2c63c3 0.65px, #759ce0 0.65px);
  background-size: 13px 13px;
}
body main ul li .cont2 .content h1 {
  background: #376fd2;
}
body main ul li .cont2 .content ul li a {
  color: #193970;
}
body main ul li .cont2 .content ul li:before {
  background-color: #2c63c3;
}
body main ul li .cont2 .content span {
  background: linear-gradient(transparent 70%, #759ce0 70%);
  color: #193970;
}
body main ul li .cont3 {
  background-color: #379ea9;
  background-image: radial-gradient(#379ea9 0.65px, #74c9d2 0.65px);
  background-size: 13px 13px;
}
body main ul li .cont3 .content h1 {
  background: #3db0bc;
}
body main ul li .cont3 .content ul li a {
  color: #1e565c;
}
body main ul li .cont3 .content ul li:before {
  background-color: #379ea9;
}
body main ul li .cont3 .content span {
  background: linear-gradient(transparent 70%, #74c9d2 70%);
  color: #1e565c;
}
body main ul li .cont4 {
  background-color: #c84141;
  background-image: radial-gradient(#c84141 0.65px, #df9090 0.65px);
  background-size: 13px 13px;
}
body main ul li .cont4 .content h1 {
  background: #ce5555;
}
body main ul li .cont4 .content ul li a {
  color: #7e2525;
}
body main ul li .cont4 .content ul li:before {
  background-color: #c84141;
}
body main ul li .cont4 .content span {
  background: linear-gradient(transparent 70%, #df9090 70%);
  color: #7e2525;
}
body main ul li .cont5 {
  background-color: #d4d85b;
  background-image: radial-gradient(#d4d85b 0.65px, #eaecad 0.65px);
  background-size: 13px 13px;
}
body main ul li .cont5 .content h1 {
  background: #d9dd70;
}
body main ul li .cont5 .content ul li a {
  color: #a2a627;
}
body main ul li .cont5 .content ul li:before {
  background-color: #d4d85b;
}
body main ul li .cont5 .content span {
  background: linear-gradient(transparent 70%, #eaecad 70%);
  color: #a2a627;
}
body main ul li .cont6 {
  background-color: #d258be;
  background-image: radial-gradient(#d258be 0.65px, #e8a8dd 0.65px);
  background-size: 13px 13px;
}
body main ul li .cont6 .content h1 {
  background: #d76cc6;
}
body main ul li .cont6 .content ul li a {
  color: #9a2a88;
}
body main ul li .cont6 .content ul li:before {
  background-color: #d258be;
}
body main ul li .cont6 .content span {
  background: linear-gradient(transparent 70%, #e8a8dd 70%);
  color: #9a2a88;
}
body main ul li .cont7 {
  background-color: #61a937;
  background-image: radial-gradient(#61a937 0.65px, #97d274 0.65px);
  background-size: 13px 13px;
}
body main ul li .cont7 .content h1 {
  background: #6cbc3d;
}
body main ul li .cont7 .content ul li a {
  color: #355c1e;
}
body main ul li .cont7 .content ul li:before {
  background-color: #61a937;
}
body main ul li .cont7 .content span {
  background: linear-gradient(transparent 70%, #97d274 70%);
  color: #355c1e;
}
body main ul li .cont8 {
  background-color: #c84141;
  background-image: radial-gradient(#c84141 0.65px, #df9090 0.65px);
  background-size: 13px 13px;
}
body main ul li .cont8 .content h1 {
  background: #ce5555;
}
body main ul li .cont8 .content ul li a {
  color: #7e2525;
}
body main ul li .cont8 .content ul li:before {
  background-color: #c84141;
}
body main ul li .cont8 .content span {
  background: linear-gradient(transparent 70%, #df9090 70%);
  color: #7e2525;
}
body main ul li .cont9 {
  background-color: #d8d85b;
  background-image: radial-gradient(#d8d85b 0.65px, #ececad 0.65px);
  background-size: 13px 13px;
}
body main ul li .cont9 .content h1 {
  background: #dddd70;
}
body main ul li .cont9 .content ul li a {
  color: #a6a627;
}
body main ul li .cont9 .content ul li:before {
  background-color: #d8d85b;
}
body main ul li .cont9 .content span {
  background: linear-gradient(transparent 70%, #ececad 70%);
  color: #a6a627;
}
body main ul li .cont10 {
  background-color: #2c63c3;
  background-image: radial-gradient(#2c63c3 0.65px, #759ce0 0.65px);
  background-size: 13px 13px;
}
body main ul li .cont10 .content h1 {
  background: #376fd2;
}
body main ul li .cont10 .content ul li a {
  color: #193970;
}
body main ul li .cont10 .content ul li:before {
  background-color: #2c63c3;
}
body main ul li .cont10 .content span {
  background: linear-gradient(transparent 70%, #759ce0 70%);
  color: #193970;
}
body main ul li .cont11 {
  background-color: #61a937;
  background-image: radial-gradient(#61a937 0.65px, #97d274 0.65px);
  background-size: 13px 13px;
}
body main ul li .cont11 .content h1 {
  background: #6cbc3d;
}
body main ul li .cont11 .content ul li a {
  color: #355c1e;
}
body main ul li .cont11 .content ul li:before {
  background-color: #61a937;
}
body main ul li .cont11 .content span {
  background: linear-gradient(transparent 70%, #97d274 70%);
  color: #355c1e;
}
body main ul .cont4 .content div .ookami {
  padding: 0;
  width: 100%;
}
body main ul .cont4 .content div .ookami div {
  padding: 0;
  margin-right: 0;
  margin-left: 2em;
  font-size: 0.7em;
  line-height: 1.5em;
  width: 100%;
}
body main ul .cont11 .content-image img {
  height: 1000px;
  width: 100vw;
  position: relative;
  left: 0;
  filter: contrast(0.8);
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1080px) {
  body li .content div .ookami {
    display: flex;
    flex-direction: column;
  }
  body li .content div .ookami img {
    width: 100%;
    height: 200px;
  }
  body li .content div .ookami div {
    margin-left: 0 !important;
    margin-top: 2em;
  }
}
body .quiz {
  margin: 0 auto;
  margin-top: 100px;
  padding: 50px;
  font-size: 2em;
  width: 700px;
  text-align: center;
  background-color: rgba(115, 240, 52, 0.6);
  border-radius: 50px;
}
body .quiz .qu-title {
  position: relative;
  display: inline-block;
  margin: 0 0 0 -50%;
  padding: 1rem 3rem;
  color: #fff;
  border-radius: 0 100vh 100vh 0;
  background: #c24560;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  left: -90px;
}
body .quiz .qu-title:before {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 0;
  content: "";
  border-top: 10px solid #005276;
  border-left: 10px solid transparent;
}
body .quiz h1 {
  position: relative;
  padding: 1rem 2rem calc(1rem + 10px);
  background: #32c54d;
  margin-top: 2em;
  font-size: 4vh;
}
body .quiz h1:before {
  position: absolute;
  top: -7px;
  left: -7px;
  width: 100%;
  height: 100%;
  content: "";
  border: 4px solid #000;
}
body .quiz p {
  margin-top: 50px;
}
body .quiz ul {
  margin-top: 1.5em;
}
body .quiz ul li {
  list-style: none;
  padding-top: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
}
body .quiz ul li .true {
  position: absolute;
  top: 10px;
  left: 60px;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  border: solid 10px #d81a1a;
  opacity: 0;
}
body .quiz ul li .false {
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 10px;
  left: 60px;
  opacity: 0;
}
body .quiz ul li .false::before, body .quiz ul li .false::after {
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  background: #3414ec;
  transform: rotate(45deg);
  transform-origin: 0% 50%;
  position: absolute;
  top: calc(14% - 5px);
  left: 14%;
}
body .quiz ul li .false::after {
  transform: rotate(-45deg);
  transform-origin: 100% 50%;
  left: auto;
  right: 14%;
}
body .quiz ul li input:checked + span {
  opacity: 1;
}
body .quiz ul li input {
  display: none;
}
body .quiz ul li label.btn-border-shadow {
  padding: calc(1.5rem - 12px) 3rem 1.5rem;
  background: #fff;
}
body .quiz ul li label.btn-border-shadow:before {
  position: absolute;
  top: -6px;
  left: -6px;
  width: 100%;
  height: 100%;
  content: "";
  transition: all 0.3s ease;
  border: 3px solid #000;
  border-radius: 0.5rem;
}
body .quiz ul li label.btn-border-shadow:hover {
  padding: calc(1.5rem - 6px) 3rem;
}
body .quiz ul li label.btn-border-shadow:hover:before {
  top: 0;
  left: 0;
}
body .quiz ul li label.btn-border-shadow--color2 {
  border-radius: 100vh;
}
body .quiz ul li label.btn-border-shadow--color2:before {
  border-radius: 100vh;
  box-shadow: 3px 3px 0 rgba(28, 158, 44, 0.4784313725);
}
@media screen and (max-width: 1000px) {
  body .quiz {
    width: 500px;
  }
  body .quiz .qu-title {
    top: 0;
    left: -40px;
  }
  body .quiz h1 {
    font-size: 2.5vh;
  }
}
body a.btn-flat {
  overflow: hidden;
  padding: 1.5rem 6rem;
  color: #fff;
  border-radius: 0;
  background: #000;
  position: relative;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}
body a.btn-flat span {
  position: relative;
}
body a.btn-flat:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
  content: "";
  transition: all 0.5s ease-in-out;
  transform: translateX(-100%);
  background: #28b76d;
}
body a.btn-flat:hover {
  color: #000;
}
body a.btn-flat:hover:before {
  transform: translateX(0%);
}
body .license {
  text-align: center;
  padding-top: 5em;
  padding-bottom: 5em;
}/*# sourceMappingURL=index.css.map */